<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - USUWANIE PIELGRZYMA</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br>
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr>
    <h5>USUWANIE DANEGO PIELGRZYMA</h5>
    <hr>
    <br>
    <p>PIELGRZYM: {{ data_single_pilgrim }}</p>
    <p>Czy na pewno usunąć tego pielgrzyma?</p>
    <br>
    <form action="/usun-pielgrzyma/" method="POST">
        <input type="hidden" value="{{ pilgrim_id }}" name="id"/>
        <button class="btn btn-primary">TAK, USUŃ TEGO PIELGRZYMA</button>
    </form>
    <br>
    <form action="/pielgrzymi/" method="GET">
        <input type="hidden" value="{{ pilgrim_id }}" name="id"/>
        <button class="btn">NIE, POZOSTAW BEZ ZMIAN</button>
    </form>
    <br>
    <br>
</body>
</html>