<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - EDYCJA NOCLEGU</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>FORMULARZ DO EDYCJI NOCLEGÓW</h5>
    <hr />
    <br />
        <form action="/noclegi/" type="GET">
            <button class="btn">NOCLEGI</button>
        </form>
    <br />
    <div class="container">
        <div class="columns">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="form-group">
                    <form action="{{ url_for('edit_accommodation') }}" method="post">
                        <input type="hidden" value="{{ accommod_id }}" name="id">
                        <label class="form-label" for="last_name">NAZWISKO</label>
                        <input class="form-input" id="last_name" type="text" name="last_name" value="{{ accommod[0] }}"/>
                        <label class="form-label" for="given_name">IMIĘ</label>
                        <input class="form-input" id="given_name" type="text" name="given_name" value="{{ accommod[1] }}"/>
                        <label class="form-label" for="town">MIEJSCOWOŚĆ:</label>
                        <input class="form-input" id="town" type="text" name="town" value="{{ accommod[2] }}"/>
                        <label class="form-label" for="street">ULICA:</label>
                        <input class="form-input" id="street" type="text" name="street" value="{{ accommod[3] }}"/>
                        <label class="form-label" for="house">NR DOMU</label>
                        <input class="form-input" id="house" type="text" name="house" value="{{ accommod[4] }}"/>
                        <label class="form-label" for="apartment">NR MIESZKANIA</label>
                        <input class="form-input" id="apartment" type="text" name="apartment" value="{{ accommod[5] }}"/>
                        <label class="form-label" for="phone">NR TELEFONU</label>
                        <input class="form-input" id="phone" type="number" name="phone" value="{{ accommod[6] }}"/>
                        <label class="form-label" for="sleep">ILE PIELGRZYMÓW MOGĘ PRZYJĄĆ NA NOCLEG</label>
                        <input class="form-input" id="sleep" type="number" name="sleep" min="0" value="{{ accommod[7] }}"/>
                        <label class="form-label" for="shower">ILE PIELGRZYMÓW MOGĘ PRZYJĄĆ DODATKOWO NA SAMO UMYCIE SIĘ</label>
                        <input class="form-input" id="shower" type="number" name="shower" min="0" value="{{ accommod[8] }}"/>
                        <label class="form-label" for="comment">Miejsce na dodatkowy komentarz</label>
                        <textarea class="form-input" id="comment" name="comment" rows="3">{{ accommod[9] }}</textarea>
                        <br />
                        <button class="btn btn-primary">ZAPISZ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>
</html>