<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>obsługa - EDYCJA PIELGRZYMA</title>
</head>
<body>
    <br>
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr>
    <h5>FORMULARZ DO EDYCJI PIELGRZYMA</h5>
    <hr>
    <br>
        <form action="/pielgrzymi/" type="GET">
            <button class="btn">PIELGRZYMI</button>
        </form>
    <br>
    <div class="container">
        <div class="columns">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="form-group">
                    <form action="{{ url_for('edit_pilgrim') }}" method="post">
                        <input type="hidden" value="{{ pilgrim_id }}" name="id">
                        <label class="form-label" for="last_name">NAZWISKO</label>
                        <input class="form-input" id="last_name" type="text" name="last_name" value="{{ data_single_pilgrim[0] }}"/>
                        <label class="form-label" for="given_name">IMIĘ</label>
                        <input class="form-input" id="given_name" type="text" name="given_name" value="{{ data_single_pilgrim[1] }}"/>
                        <label class="form-label" for="sex">PŁEĆ</label>
                        <select class="form-select" id="sex" name="sex">
                            <option>{{ data_single_pilgrim[2] }}</option>
                            {% if data_single_pilgrim[2] == 'kobieta' %}
                                <option>mężczyzna</option>
                            {% else %}
                                <option>kobieta</option>
                            {% endif %}
                        </select>
                        <label class="form-label" for="small_group">GRUPKA</label>
                        <select class="form-select" id="small_group" name="small_group">
                            <option>{{ data_single_pilgrim[3] }}</option>
                            {% for group in list_groups %}
                            <option>{{ group }}</option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="role">FUNKCJA</label>
                        <select class="form-select" id="role" name="role">
                            <option>{{ data_single_pilgrim[4] }}</option>
                            {% for specific_role in list_roles %}
                            <option>{{ specific_role }}</option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="accommodation">OSTATNI NOCLEG</label>
                        <input class="form-input" id="accommodation" type="text" name="accommodation"
                               value="{{ data_single_pilgrim[5] }}"/>
                        <br>
                        <button class="btn btn-primary">ZAPISZ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>

</html>