<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>formularz - NOCLEGI</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<hr />
    <h2>FORMULARZ DO DODAWANIA NOCLEGÓW</h2>
    <hr />
    <br />

    <div class="container">
        <div class="columns">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="form-group">
                    <form action="" method="post">
                        <label class="form-label" for="last_name">NAZWISKO</label>
                        <input class="form-input" id="last_name" type="text" name="last_name" />
                        <label class="form-label" for="given_name">IMIĘ</label>
                        <input class="form-input" id="given_name" type="text" name="given_name" />
                        <label class="form-label" for="town">MIEJSCOWOŚĆ:</label>
                        <input class="form-input" id="town" type="text" name="town" />
                        <label class="form-label" for="street">ULICA:</label>
                        <input class="form-input" id="street" type="text" name="street" />
                        <label class="form-label" for="house">NR DOMU</label>
                        <input class="form-input" id="house" type="text" name="house" />
                        <label class="form-label" for="apartment">NR MIESZKANIA</label>
                        <input class="form-input" id="apartment" type="text" name="apartment" />
                        <label class="form-label" for="phone">NR TELEFONU</label>
                        <input class="form-input" id="phone" type="number" name="phone" />
                        <br />
                        <button class="btn btn-primary">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>