<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - PRZYPORZĄDKUJ NOCLEG</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>FORMULARZ DO PRZYPORZĄDKOWYWANIA NOCLEGÓW</h5>
    <hr />
    <br />
        <form action="/" type="GET">
            <button class="btn">PODSUMOWANIE DNIA - {{ day }} sierpnia 2022</button>
        </form>
    <br />
    <br />
        <div class="container">
        <div class="columns">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="form-group">
                    <form action="" method="post">
                        <h5>FUNKCYJNI</h5>
                        <br />
                        {% for specific_role in service_pilgrim_list %}
                            <label class="form-label" for="person_{{ specific_role[0] }}">
                                {{ specific_role[1].upper() }} {{ specific_role[2] }} (id_{{ specific_role[0] }}: {{ specific_role[4] }}
                                {{ specific_role[5] }}):
                            </label>
                            <select class="form-select" id="person_{{ specific_role[0] }}" name="{{ specific_role[0] }}_{{ specific_role[4] }}_{{ specific_role[5] }}">
                                <option></option>
                                {% for accommod in list_date_accommod %}
                                <option>DOM {{ accommod[10] }} (n: {{accommod[7]}}, p: {{accommod[8]}})</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                        <br />
                        <br />
                        <br />
                        <h5>ZWYKLI PIELGRZYMI</h5>
                        <br />
                        {% for pilgrim in normal_pilgrim_list %}
                            <label class="form-label" for="person_{{ pilgrim[0] }}">PIELGRZYM  {{ pilgrim[2] }},
                            gr. {{ pilgrim[1] }} (id_{{ pilgrim[0] }} {{ pilgrim[4] }} {{ pilgrim[5] }}):</label>
                            <select class="form-select" id="person_{{ pilgrim[0] }}"
                                    name="{{ pilgrim[0] }}_{{ pilgrim[4] }}_{{ pilgrim[5] }}">
                                <option></option>
                                {% for accommod in list_date_accommod %}
                                <option>Dom {{ accommod[10] }} (n: {{accommod[7]}}, p: {{accommod[8]}})</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                        <br />
                        <br />
                        <button class="btn btn-primary">ZATWIERDŹ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>
</html>
