<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - DANY NOCLEG</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>PODSUMOWANIE WYKORZYSTANIA DANEGO NOCLEGU I/LUB MYCIA SIĘ</h5>
    <hr />
    <br />
    <form action="/" type="GET">
        <button class="btn">PODSUMOWANIE DANIA - {{ day }} sierpnia 2022</button>
    </form>
    <br />
    <h5>DANE NOCLEGU</h5>
    <table class="table">
        <thead>
            <tr>
                <th>cos</th>
                <th>MIEJSCOWOŚĆ</th>
                <th>ULICA</th>
                <th>NR DOMU</th>
                <th>NR MIESZKANIA</th>
                <th>NAZWISKO</th>
                <th>IMIĘ</th>
                <th>NR TELEFONU</th>
                <th>KOMENTARZ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <input type="hidden" value="{{ nocleg_id }}" name="id"/>
              <td>

              </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>KTO TU ŚPI</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>...</td>
                <td>
                    <button type="submit">edytuj</button>
                </td>
                <td>
                    <button type="button">usuń</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>KTO TU SIĘ MYJE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>...</td>
                <td>
                    <button type="submit">edytuj</button>
                </td>
                <td>
                    <button type="submit">usuń</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>