<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - DANY NOCLEG</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>PODSUMOWANIE WYKORZYSTANIA DANEGO NOCLEGU I/LUB MYCIA SIĘ</h5>
    <hr />
    <br />
    <form action="/" type="GET">
        <button class="btn">PODSUMOWANIE DANIA - {{ dzien }} sierpnia 2022</button>
    </form>
</body>
</html>