<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - PODSUMOWANIE NOCLEGÓW</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h4><b>PODSUMOWANIE NOCLEGÓW NA DZIEŃ:  ...08.2022</b></h4>
    <hr />
    <br />
    <h6>PUNKTY NOCLEGOWE INDYWIDUALNE (DOMY)</h6>
    <table class="table" style="width: 20%" border>
        <tbody>
            <tr>
                <td>dostępne:</td>
                <td>...</td>
            </tr>
                <td>wykorzystane:</td>
                <td>...</td>
        </tbody>
    </table>
    <br>
    <h6>MIEJSCA NOCLEGOWE W (DOMACH) PUNKTACH NOCLEGOWYCH INDYWIDUALNYCH</h6>
    <table class="table" style="width: 20%" border>
        <tbody>
            <tr>
                <td>dostępne:</td>
                <td>...</td>
            </tr>
                <td>wykorzystane:</td>
                <td>...</td>
        </tbody>
    </table>
    <br />
    <br />
    <hr />
    <h5>ZESTAWIENIE NOCLEGÓW NA DZIEŃ ... sierpnia 2022</h5>
    <hr />
    <p>zestawienie</p>
</body>
</html>