<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - PODSUMOWANIE NOCLEGÓW</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h4><b>PODSUMOWANIE NOCLEGÓW I PRYSZNICÓW NA DZIEŃ - {{ dzien }} sierpnia 2022</b></h4>
    <hr />
    <br />
        <form action="/noclegi/" type="GET">
            <button class="btn">NOCLEGI</button>
        </form>
        <form action="/pielgrzymi/" type="GET">
            <button class="btn">PIELGRZYMI</button>
        </form>
    <br />
    <h6>PUNKTY NOCLEGOWE INDYWIDUALNE (DOMY)</h6>
    <table class="table" style="width: 20%" border>
        <tbody>
            <tr>
                <td>dostępne:</td>
                <td>{{ noclegi_podsum[0] }}</td>
            </tr>
                <td>wykorzystane:</td>
                <td>...</td>
        </tbody>
    </table>
    <br>
    <h6>MIEJSCA NOCLEGOWE W (DOMACH) PUNKTACH NOCLEGOWYCH INDYWIDUALNYCH</h6>
    <table class="table" style="width: 20%" border>
        <tbody>
            <tr>
                <td>dostępne:</td>
                <td>{{ noclegi_podsum[1] }}</td>
            </tr>
                <td>wykorzystane:</td>
                <td>...</td>
        </tbody>
    </table>
    <br /><br />
    <h6>PUNKTY PRYSZNICOWE</h6>
    <table class="table" style="width: 20%" border>
        <tbody>
            <tr>
                <td>dostępne:</td>
                <td>{{ mycie_podsum[0] }}</td>
            </tr>
                <td>wykorzystane:</td>
                <td>...</td>
        </tbody>
    </table>
    <br>
    <h6>MIEJSCA W PUNKTACH PRYSZNICOWYCH</h6>
    <table class="table" style="width: 20%" border>
        <tbody>
            <tr>
                <td>dostępne:</td>
                <td>{{ mycie_podsum[1] }}</td>
            </tr>
                <td>wykorzystane:</td>
                <td>...</td>
        </tbody>
    </table>
    <br />
    <br />
    <hr />
    <h5>ZESTAWIENIE NOCLEGÓW NA DZIEŃ - {{ dzien }} sierpnia 2022</h5>
    <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DOSTĘPNE NOCLEGI</th>
                    <th>WYKORZYST NOCLEGI</th>
                    <th>KTO TU ŚPI</th>
                    <th>KOMENTARZ</th>
                    <th>MIEJSCOWOŚĆ</th>
                    <th>ULICA</th>
                    <th>NR DOMU</th>
                    <th>NR MIESZKANIA</th>
                    <th>NAZWISKO</th>
                    <th>IMIĘ</th>
                    <th>NR TELEFONU</th>
                </tr>
            </thead>
             <tbody>
            {% for el in lista_nocl %}
            <tr>
              <td>{{ el[10] }}</td>
              <td>{{ el[7] }}</td>
              <td>...</td>
              <td>
                  <form action="/kto-tu-spi/" type="GET">

                    <button type="submit">lista pielgrzymów</button>
                  </form>
              </td>
              <td>{{ el[9] }}</td>
              <td>{{ el[0] }}</td>
              <td>{{ el[1] }}</td>
              <td>{{ el[2] }}</td>
              <td>{{ el[3] }}</td>
              <td>{{ el[4] }}</td>
              <td>{{ el[5] }}</td>
              <td>{{ el[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <hr />
    <h5>ZESTAWIENIE PRZYSZNICÓW NA DZIEŃ - {{ dzien }} sierpnia 2022</h5>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DOSTĘPNE PRYSZNICE</th>
                <th>WYKORZYST PRYSZNICE</th>
                <th>KTO TU SIĘ MYJE</th>
                <th>KOMENTARZ</th>
                <th>MIEJSCOWOŚĆ</th>
                <th>ULICA</th>
                <th>NR DOMU</th>
                <th>NR MIESZKANIA</th>
                <th>NAZWISKO</th>
                <th>IMIĘ</th>
                <th>NR TELEFONU</th>
            </tr>
        </thead>
        <tbody>
            {% for el in lista_mycie %}
            <tr>
              <td>{{ el[10] }}</td>
              <td>{{ el[8] }}</td>
              <td>...</td>
              <td>
                  <button type="submit">lista pielgrzymów</button>
              </td>
              <td>{{ el[9] }}</td>
              <td>{{ el[0] }}</td>
              <td>{{ el[1] }}</td>
              <td>{{ el[2] }}</td>
              <td>{{ el[3] }}</td>
              <td>{{ el[4] }}</td>
              <td>{{ el[5] }}</td>
              <td>{{ el[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>