<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - NOCLEGI</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>FORMULARZ DO DODAWANIA NOCLEGÓW</h5>
    <hr />
    <br />
        <form action="/" type="GET">
            <button class="btn">PODSUMOWANIE DNIA - {{ day }} sierpnia 2022</button>
        </form>
        <form action="/pielgrzymi/" type="GET">
            <button class="btn">PIELGRZYMI</button>
        </form>
    <br />
    <div class="container">
        <div class="columns">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="form-group">
                    <form action="" method="post">
                        <label class="form-label" for="last_name">NAZWISKO</label>
                        <input class="form-input" id="last_name" type="text" name="last_name" />
                        <label class="form-label" for="given_name">IMIĘ</label>
                        <input class="form-input" id="given_name" type="text" name="given_name" />
                        <label class="form-label" for="town">MIEJSCOWOŚĆ:</label>
                        <input class="form-input" id="town" type="text" name="town" />
                        <label class="form-label" for="street">ULICA:</label>
                        <input class="form-input" id="street" type="text" name="street" />
                        <label class="form-label" for="house">NR DOMU</label>
                        <input class="form-input" id="house" type="text" name="house" />
                        <label class="form-label" for="apartment">NR MIESZKANIA</label>
                        <input class="form-input" id="apartment" type="text" name="apartment" />
                        <label class="form-label" for="phone">NR TELEFONU</label>
                        <input class="form-input" id="phone" type="number" name="phone" />
                        <label class="form-label" for="sleep">ILE PIELGRZYMÓW MOGĘ PRZYJĄĆ NA NOCLEG</label>
                        <input class="form-input" id="sleep" type="number" name="sleep" min="0"/>
                        <label class="form-label" for="shower">ILE PIELGRZYMÓW MOGĘ PRZYJĄĆ DODATKOWO NA SAMO UMYCIE SIĘ</label>
                        <input class="form-input" id="shower" type="number" name="shower" min="0"/>
                        <label class="form-label" for="comment">Miejsce na dodatkowy komentarz</label>
                        <textarea class="form-input" id="comment" name="comment" rows="3"></textarea>
                        <br />
                        <button class="btn btn-primary">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <h5>LISTA DOSTĘPNYCH NOCLEGÓW</h5>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>MIEJSCOWOŚĆ</th>
                <th>DATA</th>
                <th>NAZWISKO</th>
                <th>IMIĘ</th>
                <th>ULICA</th>
                <th>NR DOMU</th>
                <th>NR MIESZKANIA</th>
                <th>NR TELEFONU</th>
                <th>IL. NOCLEG</th>
                <th>IL. MYCIE SIĘ</th>
                <th>KOMENTARZ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for single_address in data_address %}
            <tr>
              <td>{{ single_address[0] }}</td>
              <td>{{ single_address[1][2] }}</td>
              <td></td>
              <td>{{ single_address[1][0] }}</td>
              <td>{{ single_address[1][1] }}</td>
              <td>{{ single_address[1][3] }}</td>
              <td>{{ single_address[1][4] }}</td>
              <td>{{ single_address[1][5] }}</td>
              <td>{{ single_address[1][6] }}</td>
              <td>{{ single_address[1][7] }}</td>
              <td>{{ single_address[1][8] }}</td>
              <td>{{ single_address[1][9] }}</td>
              <td>
                  <form action="/edytuj-nocleg/" type="GET">
                    <input type="hidden" value="{{ single_address[0] }}" name="nocleg-id">
                    <button type="submit">edytuj</button>
                  </form>
              </td>
              <td>
                  <form action="/usun-nocleg/" type="GET">
                      <input type="hidden" value="{{ single_address[0] }}" name="nocleg-id">
                      <button type="submit">usuń</button>
                  </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <br />
</body>
</html>