<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - PIELGRZYMI</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>FORMULARZ DO DODAWANIA PIELGRZYMÓW</h5>
    <hr />
    <br />
        <form action="/" type="GET">
            <button class="btn">PODSUMOWANIE DANIA - {{ day }} sierpnia 2022</button>
        </form>
        <form action="/noclegi/" type="GET">
            <button class="btn">NOCLEGI</button>
        </form>
    <br />
    <div class="container">
        <div class="columns">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="form-group">
                    <form action="" method="post">
                        <label class="form-label" for="last_name">NAZWISKO</label>
                        <input class="form-input" id="last_name" type="text" name="last_name" />
                        <label class="form-label" for="given_name">IMIĘ</label>
                        <input class="form-input" id="given_name" type="text" name="given_name" />
                        <label class="form-label" for="sex">PŁEĆ</label>
                        <select class="form-select" id="sex" name="sex">
                            <option></option>
                            <option>kobieta</option>
                            <option>mężczyzna</option>
                        </select>
                        <label class="form-label" for="small_group">GRUPKA</label>
                        <select class="form-select" id="small_group" name="small_group">
                            <option></option>
                            {% for grupka in list_groups %}
                            <option>{{ grupka }}</option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="function">FUNKCJA</label>
                        <select class="form-select" id="function" name="function">
                            <option></option>
                            {% for funkcja in list_roles %}
                            <option>{{ funkcja }}</option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="accommodation">OSTATNI NOCLEG</label>
                        <input class="form-input" id="accommodation" type="text" name="accommodation" />
                        <br />
                        <button class="btn btn-primary">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <h5>LISTA PIELGRZYMÓW</h5>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>PŁEĆ</th>
                <th>GRUPKA</th>
                <th>FUNKCJA</th>
                <th>OSTATNI NOCLEG</th>
                <th>NAZWISKO</th>
                <th>IMIĘ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pielgrzym in pilgrims %}
            <tr>
              <td>{{ pielgrzym[0] }}</td>
              <td>{{ pielgrzym[1][2] }}</td>
              <td>{{ pielgrzym[1][3] }}</td>
              <td>{{ pielgrzym[1][4] }}</td>
              <td>{{ pielgrzym[1][5] }}</td>
              <td>{{ pielgrzym[1][0] }}</td>
              <td>{{ pielgrzym[1][1] }}</td>
              <td>
                  <form action="/edytuj-pielgrzyma/" type="GET">
                      <input type="hidden" value="{{ pielgrzym[0] }}" name="pielgrzym-id">
                    <button type="submit">edytuj</button>
                  </form>
              </td>
              <td>
                  <form action="/usun-pielgrzyma/" type="GET">
                      <input type="hidden" value="{{ pielgrzym[0] }}" name="pielgrzym-id">
                      <button type="submit">usuń</button>
                  </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <br />
</body>
</html>