<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obsługa - USUWANIE NOCLEGU</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <br />
    <h6>----------    OBSŁUGA PIELGRZYMKI    ----------</h6>
    <hr />
    <h5>USUWANIE DANEGO NOCLEGU</h5>
    <hr />
    <br />
    <p>NOCLEG: {{ nocleg }}</p>
    <p>Czy na pewno usunąć ten nocleg?</p>
    <br />
    <form action="/usun-nocleg/" method="POST">
        <input type="hidden" value="{{ nocleg_id }}" name="id"/>
        <button class="btn btn-primary">TAK, USUŃ TEN NOCLEG</button>
    </form>
    <br />
    <form action="/noclegi/" method="GET">
        <input type="hidden" value="{{ nocleg_id }}" name="id"/>
        <button class="btn">NIE, POZOSTAW BEZ ZMIAN</button>
    </form>
    <br />
    <br />
</body>
</html>